/* Websitetips.com - For handhelds. Copyright 2006 Shirley E. Kaiser, M.A., SKDesigns. All rights reserved. last mod. 2006.03.09 */
body{background:#fff;color:#0e0f32;font-family:sans-serif;margin:0;padding:0;}
#tm h1{width:100%;}
blockquote,code,kbd{font-family:monospace;}
address{font-style:normal;}
#tm h1 img{display:block;}
/* HIDE */
img{display:none;}